<div class="navigation">
    <div class="logo">
        <img style="height: 100px" src="{{ site.baseurl }}/assets/images/logos/hcc-tall.png" alt="hcc logo">
    </div>
	
    <div class="navigation-buttons">
	  <ul>
      {% assign navButtons = "home|team" | split: "|" %}
      {% for nav in navButtons %}
        {% assign navURL = nav %}
        {% assign pageURL = page.url | remove: "/" %}
        {% if nav == "home" %}
          {% assign navURL = "" %}
        {% endif %}
        
        {% if pageURL == navURL %}
          <li class="{{ nav }}-button">
            <a class="active" href="{{ site.baseurl }}/{{ navURL }}">
            <span class="nav-text">{{ nav | upcase }}</span></a>
          </li>
        
        {% else %}
          <li class="{{ nav }}-button">
            <a href="{{ site.baseurl }}/{{ navURL }}">
            <span class="nav-text">{{ nav | upcase }}</span></a>
          </li>
        {% endif %}
      {% endfor %}
	  </ul>
    </div>
</div>
